@media screen and (max-width: 768px) {
    header{

    }
    .hero-section{
        gap: 30px;
        margin-bottom: 70px;
    }
    .service-section .service-card{
        grid-template-columns: 
        repeat(auto-fit, minmax(300px, 1fr));
    }
    .about-section .about{
        grid-template-columns: 1fr;
        margin-bottom: 70px;
    }
    .about-section .about-details{
        padding-left: 20px;
    }
    .footer-section{
        display: flex !important;
        flex-direction: column !important;
        gap: 20px;
    }

 }