@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
    text-transform: capitalize;
}

:root{
    --body-bg-color:# ;
    --header-background: #1e1e1e;
    --text-color: #fff;
    --span-bg-color: #007ced;
    --nav-a-hv-color: #;
    --nav-a-color: #e5e5e5;
    --text-hover-color: #0ef;
    --text-color2 : #3adae6 ;
    --name-color: rgb(17, 194, 207);
}

body{
    background-color: var(--header-background);
    overflow-x: hidden;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px repeat(4, 1fr) ;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-column: 1/ -1;
}

header .logo a{
    color: #fff;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 600;
}

header .logo a span{
    color: var(--text-hover-color);
}

header nav{
    display: flex;
    gap: 20px;
    padding: 10px 15px;
    border-radius: 5px;
}

header nav a{
    color: #fff;
    transition: .3s;
    font-size: 18px;
}
header nav a:hover{
    color: var(--text-hover-color);
}

header nav a.active{
    color:  var(--text-color2);
}

.hero-section{
    display: flex;
    align-items: center;
    flex-direction: wrap;
    justify-content: space-around;
    height: 700px;
    width: 100%;
    grid-column: 1 / -1;
}

.hero-pic{
    transition: .3s;
    transform: scale(1);
}

.hero-pic img{
    height: 400px;
    width: 400px;
    display: block;
    margin: 0 auto;    
    filter: drop-shadow(6px 6px 47px #0ef);
}
.hero-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.hero-section .hero-content h3{
    color: var(--text-color);
    font-weight: 400;
}

.hero-section .hero-content h3 span{
    color: var(--text-hover-color);
}
.hero-content h1{
    color: var(--name-color);
    font-weight: 600;
}

.hero-content p{
    color: #e5e5e5;
}

.hero-content ul{
    display: flex;
    align-items: center;
    gap: 20px;
}


.hero-content ul li a{
    color: #0ef;
    padding: 10px 15px;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    transition: .2s;
}
.hero-content ul li a:hover{
    box-shadow: 0 0 30px #0ef;
    background: #0ef;
    color: #1e1e1e;
}
.cv{
    margin-top: 20px;
}

.cv-button{
    border-color: #d5d5d5;
    color: #fff;
    background: #333;
    padding: 12px 25px;
    margin: 5px 0;
    margin-right: 7px;
    border-radius: 30px;
    border: 2px solid #e5e5e5;
    box-shadow: 0 0 40px #0ef;
    transform: scale(1);
    transition: .2s;
    text-transform: uppercase;
}
.cv-button:hover{
    color: #1e1e1e;
    background-color: #0ef;
    border:2px solid #0ef;
    box-shadow: 0 0 60px #0ef;
}

.service-section{
    grid-column: 1 / -1;
    height: 600px;
    width: 100%;
}

.service-section h1{
    text-align: center;
    color: #fff;
    font-weight: 500;
}

.service-section h1 span{
    color: #0ef;
}

.service-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 10px;
    width: 80%;
    margin: 20px auto;
}

.service-card .card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: rgba(255, 255, 255, 0.3);
    padding:10px 12px;
    border-radius: 4px;
}

.service-card .card i{
    text-align: center;
    color: #e5e5e5;
    font-size: 22px;
}
.service-card .card h3{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
.service-card .card p{
    color: #d5d5d5;
}
.service-card .card a{
    color: #fff;
    transition: .2s;
    padding: 10px 12px;
    background-color: rgb(53, 175, 184);
    box-shadow: 0 0 2px #0ef;
}

.about-section{
    grid-column: 1/ -1;
    height: 600px;
    margin-top: 20px;
}

.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 10px;
}
.about .about-pic{
    width: 80%;
    margin: 0 auto;
    filter: drop-shadow(6px 6px 60px #0ef);
    
}
.about-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 20px;
}

.about-section h1{
    text-align: center;
    color: #fff;
    font-weight: 600;
    margin-bottom: 40px;
}
.about-section h1 span{
    color: #0ef;
}
.about p{
    color: #ffffffa1;
    width: 80%;
}
.about p span{
    color: #0ef;
    font-weight: 700;
}

.contact-section{
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-areas: 
    't t t t '
    'e e c c';
    height: 600px;
    grid-column-gap: 20px;
    margin-bottom: 100px;
}

.contact-section .contact-title{
    grid-area: t;
    text-align: center;
}

.contact-title h1{
    color: #fff;
}
.contact-section h1 span{
    color: #0ef;
}
.contact-title p{
    color: #fff;
    margin-top: 10px;
}

.contact-section p a{
    color: #0ef;
    font-weight: 600;
}


.contact-section .contact-email{
    grid-area: e;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

 .contact-email img{
    width: 80%;
    filter: drop-shadow(6px 6px 47px #0ef);

}
.contact-section form{
    grid-area: c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.contact-section form .form-text{
    position: relative;
}
.contact-section form .form-text input, .contact-section textarea{
    background-color: #1e1e1e;
    outline: none;
    border: 1px solid #0ef;
    height: 50px;
    padding: 16px 20px;
    color: #fff;
    font-size: 16px;
    width: 80%;
    border-radius: 20px;
    position: relative;
}

.contact-section form .form-text label{
    position: absolute;
    left: 12px;
    top: 14px;
    color: #0ef;
    padding: 0 5px;
    background: var(--header-background);
    transition: .3s;
    pointer-events: none;
    
}
.contact-section .messages-box{
    height: 100px !important;
    width: 80%;
    
}
.form-text input:focus ~ label{
    top: -9px;
}
.contact-section textarea:focus ~ label{
    top: -9px;
}
.contact-section form input[type='submit']{
    width: 70%;
    padding: 12px;
    font-size: 15px;
    border-radius: 20px;
    outline: none;
    margin-left: 10px;
    cursor: pointer;
    background: none;
    color: #0ef;
    box-shadow: 0 0 30px #0ef;
    transition: .2s;
}
.contact-section form input[type='submit']:hover{
    box-shadow: 0 0 50px #0ef;
}













.footer-section{
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    grid-template-areas: 
    'a q c'
    'cp cp cp';
    height: auto;
    justify-content: space-between;
    padding: 0 20px;
    grid-column-gap: 20px;
}

.footer-section h3{
    color: #fff;
    position: relative;
    margin-bottom: 10px;
}

.footer-section h3::after{
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    border:1px solid #0ef;
    width: 40px;
}

.footer-section .about-us ul{
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 15px;
}

.footer-section .about-us{
    grid-area: a;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer h3{
    font-size: 20px;
}
.footer p{
    color: #ffffffa1;
    line-height: 20px;
}
 .about-us ul li a{
    color: #fff;
    font-size: 20px;
    padding: 12px 15px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    transition: .3s;
    box-shadow:inset 0 0 0px #0ef;
}
.about-us ul li a:hover{
    background-color: #0ef;
    color: #1e1e1e;
    box-shadow: 0 0 10px #0ef;
}
.footer-section .quick-links{
    grid-area: q;
}
.quick-links ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer-section .quick-links ul li a{
    color: rgba(255, 255, 255, 0.6);
    transition: .2s;
    line-height: 20px;
}
.quick-links ul li a:hover{
    color: #fff;
    padding-left: 5px;
}
.footer-section .contact-info{
    grid-area: c;
}
.footer-section .contact-info ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.contact-info ul li, .contact-info ul li a {
    color: #fff;
}

.footer-section .copy-right{
    grid-area: cp;
    text-align: center;
    padding: 20px;
    color: #ffffff62;
}